/* CSS styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
}

header {
    background-color: #fff;
    color:#333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.hero {
    /*background-image: url('test.jpg');*/
    background-color: #333;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
}

.ambientes {
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url('studybox_1.jpg');
    background-size: cover;
    background-position: center;
}

.text-in-img-box {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    border-radius: 5px;
    padding: 5px;
}

.centered-list h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.centered-list {
    text-align: center;
}

.centered-list ul {
    display: inline-block;
    text-align: left;
    padding: 20px;
    padding-top: 0px;
}

.centered-list li {
    list-style-type: none;
    margin-bottom: 10px;
}
/*
.centered-list {
    text-align: center;
  }
  
.centered-list ul {
    display: inline-block;
    text-align: center;
    padding: 0;
  }
  
  .centered-list li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  */

footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}


main {
    display: grid;
    grid-template-rows: fit-content(260px) 1fr;

}

